@media (max-width:480px){
    body{
        background-color: #252932;
        margin: 10px 1px 1px 1px

    }
    header img{
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: solid 3px #252932;
        z-index: 60;
        margin-top: 7%;
    }
    header{
        width: 98%;
        height: 10%;
        background-color: #FFFFFF;
        text-align: center;
        z-index: 50;
        margin: 1% 1% 1% 1%;
    }
    .fiximg{
        padding: 0% 10% 10% 10%;
    }
    .titulo{
        font-family: 'Roboto Slab', serif;
        font-size: 25px;
    }
    .subtitulo{
        color: #F56F22;
        font-family: 'Roboto Slab', serif;
        text-align: center;
    }
    .GrillaG{
        background-color:#FFFFFF;
        margin: 0;
    }
    .Grilla1{
        background-color: #252932;
        float: left;
    }
    .cuadrado{
        margin: 1% 1% 1% 1%;
        background-color: #FFFFFF;
        text-align: center;
        padding: 1% 1% 1% 1%;
    }
    .cuadrado p{
        text-align: justify;
        padding: 1% 1% 1% 1%;
    }
    .Grilla2{
        background-color: #252932;
        float: left;
        width: 100%;
    }
    .cuadrado ul{
        text-align: left;
    }
    .python{
        background-color: #E5160C;
        color: white;
        width: 90%;
        padding-left: 5px;
        text-align: left;
    }
    .html{
        background-color: #E5160C;
        color: white;
        width: 80%;
        padding-left: 5px;
        text-align: left;
    }
    .css{
        background-color: #E5160C;
        color: white;
        width: 65%;
        padding-left: 5px;
        text-align: left;
    }
    .js{
        background-color: #E5160C;
        color: white;
        width: 40%;
        padding-left: 5px;
        text-align: left;
    }
    .php{
        background-color: #E5160C;
        color: white;
        width: 25%;
        padding-left: 5px;
        text-align: left;
    }
    .Grilla2 .cuadrado section{
        height: 80px;
    }
    .Grilla2 .container{
        height: 175px;
        text-align: left;
    }
    .container .español h4{
        float: left;
        width: 30%;
    }
    .container .español ul{
        float: left;
        width: 60%;
    }
    .container .ingles h4{
        float: left;
        clear: left;
        width: 30%;
    }
    .container .ingles ul{
        float: left;
        width: 60%;
    }
    .container .subtitulo{
        margin-bottom: 1px;
    }
    footer{
        clear: left;
        width: 96%;;
    }
}
